In [8]:
import os

import numpy as np
import pandas as pd

In [9]:
directory = r'R:\Active\SEEG\subjects\DR_2021\IMAGING\Electrodes'
with os.scandir(directory) as it:
    for entry in it:
        if entry.name.endswith('.dat'):
            if entry.name.startswith('A'):
                file_name = os.path.join(directory, entry.name)
                print(file_name)

R:\Active\SEEG\subjects\DR_2021\IMAGING\Electrodes\A_AOF_FRPOLE.dat

In [10]:
df = pd.DataFrame(columns=['name', 'x', 'y', 'z'])
name = os.path.basename(file_name)[0]
with open(file_name) as f:
    line = f.readline()
    i = 1
    while('info' not in line):
        x, y, z = np.asarray(line.split(), dtype=float)
        df.loc[i, 'name'] = f'{name}{i}'
        df.loc[i, 'x'] = x
        df.loc[i, 'y'] = y
        df.loc[i, 'z'] = z
        line = f.readline()
        i += 1

df

   name        x        y        z
1    A1  4.65414  87.2734  24.1982
2    A2  8.44772  85.6043  23.7619
3    A3  11.1563   84.362  23.2608
4    A4   13.865  83.1198  22.7598
5    A5  17.1142  81.5752  22.1672
6    A6  20.3667  80.1868  21.6877
7    A7  23.6217  78.9114   21.052
8    A8  26.3251  77.4216  20.7288
9    A9  29.5747  75.8986  20.2709
10  A10  33.3703  74.3209  19.5436
11  A11  36.0841  73.3262  18.8648
12  A12  38.7866  71.7933  18.2722
13  A13  42.0363  70.2703  17.8143
14  A14  45.2974  69.2856  17.2701
15  A15  48.5486  67.8324  16.3866
16  A16  51.7945  66.1318  15.6809

In [25]:
def write_fcsv(file_name, electrodes):
    header = '# Markups fiducial file version = 4.10\n'
    header += '# CoordinateSystem = 0\n'
    header += '# columns = id,x,y,z,ow,ox,oy,oz,vis,sel,lock,label,desc,associatedNodeID\n'
    with open(file_name, 'w') as f:
        f.write(header)
        for i in range(1, electrodes.shape[0]+1):
            line = f"vtkMRMLMarkupsFiducialNode_0,{electrodes.loc[i, 'x']},{electrodes.loc[i, 'y']},{electrodes.loc[i, 'z']},"
            line += f"0.000,0.000,0.000,1.000,1,1,0,{electrodes.loc[i, 'name']},,vtkMRMLScalarVolumeNode2\n"
            f.write(line)

In [26]:
fn = os.path.join(directory, 'A'+'.fcsv')
print(fn)
write_fcsv(fn, df)

R:\Active\SEEG\subjects\DR_2021\IMAGING\Electrodes\A.fcsv